
<%- include("partials/header") -%>

<h1>Compose</h1>



<form class="" action="/compose" method="post">

  <div class="form-group">
  <label for="usr">Title</label>
  <input type="text" class="form-control"  name ="posttitle" id="usr">
    </div>

      <div class="form-group">
  <label for="pwd">Post</label>
  <textarea class="form-control" rows="5"  name = "postbody" id="comment"></textarea>
</div>

  <button type="submit" class="btn btn-primary">Publish</button>

</form>


<%- include("partials/footer") -%>
